body {
  background-color: #f0f2f5;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 10vh;
}

.App header {
  background-color: #202124;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #202124;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100vw;
  box-sizing: border-box;
}

.sign-in-title {
  font-size: 2rem;
  margin-bottom: 5px;
}

.sign-in-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.sign-in-button {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sign-in-button:hover {
  background-color: #357ae8;
}

.sign-in-button:active {
  background-color: #2a65c7;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

ul, li {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  max-width: 100%;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
  box-sizing: border-box;
}

.message {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 0 10px;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}

.received p {
  background: #e5e5ea;
  color: #000;
}

.chat-room-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* General styles for the chat-room-upper */
.chat-room-upper {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202124;
  padding: 10px;
  box-sizing: border-box;
}

.chat-room-upper p {
  margin: 5px;
  font-size: 1rem;
}

.chat-room-upper p a {
  color: white;
  text-decoration: none;
}

.chat-room-delete {
  margin-right: 10%;
  padding: 10px 20px;
  background-color: #d93025;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-room-delete:hover {
  background-color: #c82333;
}

.sign-out {
  padding: 10px 20px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 20px;
  top: 13px;
}

.sign-out:hover {
  background-color: #0056b3;
}

.sign-out:active {
  background-color: #0056ba;
}

.message-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
  flex: 1;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.message-container::-webkit-scrollbar {
  width: 0.25rem;
}

.message-container::-webkit-scrollbar-track {
  background: #1e1e24;
}

.message-container::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.message-form {
  height: 10%;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #202124;
  width: 100%;
  box-sizing: border-box;
}

.message-input {
  line-height: 2.2;
  width: 100%;
  font-size: 1rem;
  color: black;
  outline: none;
  border: #ccc;
  padding: 0 10px;
  box-sizing: border-box;
}

.send-button {
  background-color: #1a73e8;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #252525;
  transition: background-color 0.5s ease;
  font-size: 1rem;
  box-sizing: border-box;
}

.send-button:hover {
  background-color: #fff;
  color: #1a73e8;
}

.chat-room-body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.chat-room-header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202124;
  padding: 10px;
  box-sizing: border-box;
}

.chat-room-header h2 {
  margin-left: 10px;
  color: white;
}

.create-chat-room {
  height: 40%;
  display: flex;
  flex-direction: column;
  border: 1px solid #252525;
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 10px;
  box-sizing: border-box;
}

.create-chat-room h1 {
  text-align: center;
  color: #1a73e8;
  margin-top: 3%;
}

.chat-room-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2%;
  width: 90%;
}

.create-chat-room a:hover {
  text-decoration: none;
  color: #252525;
}

.room-name {
  padding: 10px;
  border: none;
  font-size: 1rem;
  margin-bottom: 15px;
  height: 32px;
}

.room-btn {
  font-size: 1rem;
  background-color: #1a73e8;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
}

.room-btn:hover {
  background-color: #357ae8;
  color: #d9d9d9;
}

.room-link-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 2%;
}

.room-link-section h2 {
  font-size: 1.25rem;
  text-align: center;
}

.room-link-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.room-link-input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
  max-width: 100%;
}

.copy-link-btn {
  padding: 10px 20px;
  background-color: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.copy-link-btn:hover {
  background-color: #0056b3;
}

.room-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #34a853;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.room-link:hover {
  background-color: #218838;
}

.pending-approval-container {
  padding: 20px;
}

.pending-approval-container h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.pending-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #252525;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pending-user p {
  margin: 0;
  font-size: 1rem;
  color: #fff;
}

.pending-user .pending-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pending-user .pending-btn:hover {
  background-color: #45a049;
}

.pending-approval p {
  font-size: 1rem;
  color: #666;
  text-align: center;
}

.all-chat-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f2f5;
}

.all-chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #202124;
  padding: 8px 20px;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.all-chat-header h2 {
  font-size: 1.5rem;
  margin: 0;
}

.new-chat-btn {
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-chat-btn:hover {
  background-color: #357ae8;
}

.all-chat-body {
  height: calc(100% - 60px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chat-room-item {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.chat-room-item:hover {
  background-color: #f1f1f1;
}

.chat-room-item img.avatar {
  border-radius: 50%;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.chat-room-item a {
  text-decoration: none;
  color: #252525;
  font-size: 1rem;
  flex-grow: 1;
}

.alert {
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  border: none;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.alert-danger {
  background-color: #d93025;
  color: #f1f1f1;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #6600ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.seen-by {
  font-size: 12px;
  color: #757575;
  margin-top: 5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Tablet styles */
@media (min-width: 768px) {
  .App {
    max-width: 728px;
  }

  .sign-in-title {
    font-size: 2.5rem;
  }

  .sign-in-text {
    font-size: 1.25rem;
  }

  .sign-in-button {
    padding: 15px 30px;
    font-size: 1.25rem;
  }

  .sign-out {
    font-size: 1.25rem;
    padding: 10px 20px;
  }

  .chat-room-upper p {
    font-size: 1.25rem;
  }

  .chat-room-delete {
    font-size: 1.25rem;
    padding: 10px 20px;
  }

  .message-input {
    font-size: 1.45rem;
  }

  .send-button {
    padding: 13px 32px;
    font-size: 1.25rem;
  }

  .create-chat-room {
    width: 50%;
  }

  .chat-room-form {
    width: 60%;
  }

  .room-link-section h2 {
    font-size: 1.5rem;
  }

  .room-link-input {
    font-size: 1.25rem;
  }

  .copy-link-btn {
    padding: 12px 20px;
    font-size: 1rem;
  }

  .room-link {
    padding: 10px 20px;
    font-size: 1.25rem;
  }

  .alert {
    width: 30%;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .App {
    max-width: 728px;
  }

  .sign-in-title {
    font-size: 2.5rem;
  }

  .sign-in-text {
    font-size: 1.25rem;
  }

  .sign-in-button {
    padding: 15px 30px;
    font-size: 1.25rem;
  }

  .sign-out {
    font-size: 1.25rem;
    padding: 10px 20px;
  }

  .chat-room-upper p {
    font-size: 1.25rem;
  }

  .chat-room-delete {
    font-size: 1.25rem;
    padding: 10px 20px;
  }

  .message-input {
    font-size: 1.45rem;
  }

  .send-button {
    padding: 13px 32px;
    font-size: 1.25rem;
  }

  .create-chat-room {
    width: 50%;
  }

  .chat-room-form {
    width: 60%;
  }

  .room-link-section h2 {
    font-size: 1.5rem;
  }

  .room-link-input {
    font-size: 1.25rem;
  }

  .copy-link-btn {
    padding: 12px 20px;
    font-size: 1rem;
  }

  .room-link {
    padding: 10px 20px;
    font-size: 1.25rem;
  }

  .alert {
    width: 30%;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .chat-room-upper {
    flex-wrap: no-wrap;
    flex-direction: row;
    align-content: space-between;
  }

  .chat-room-upper p {
    flex: 1 1 100%;
    text-align: left;
  }

  .chat-room-delete {
    padding: 10px 15px; /* Smaller padding for mobile */
    font-size: 0.875rem; /* Smaller font size for mobile */
    margin-right: 10px; /* Adjust margin for better alignment */
  }

  .sign-out {
    padding: 8px 15px; /* Smaller padding for mobile */
    font-size: 0.875rem; /* Smaller font size for mobile */
    position: static; /* Remove absolute positioning for mobile */
    
  }

  .all-chat-header h2 {
    font-size: 1.25rem;
  }

  .new-chat-btn {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .chat-room-item {
    padding: 20px;
  }

  .chat-room-item img.avatar {
    width: 30px;
    height: 30px;
  }

  .chat-room-item a {
    font-size: 0.875rem;
  }
}